
html{
    scroll-behavior: smooth;
}
*{
    transition: 0.5s ease;
}
:root{
    --visina:calc(100% - 80px);
}
li{
    list-style: none;
}
.container{
    display: flex;
    max-height: var(--visina)
}
.container .levi{
    padding:2px;
    overflow-y: auto;
    overflow-x: hidden;
}
.skracen{
    overflow-y: auto;
    overflow-x: hidden;
}
.produzen{
    padding:2px;
    width: 200px;
}
.section{
    height: fit-content;
}
li img{
    width: 30px;
}

.produzen ul li img{
    margin-right: 10px;
}
.produzen ul li ,button{
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
}
.produzen ul li button{
   padding: 10px;
}
ul button{
    width: 100%;
}
ul li{
    margin-top: 2px;
    margin-bottom: 2px;
}
.levi .line{
    height: 2px;
    background-color: black;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul button{
    background-color: white;
}
ul button .kliknuto,ul button:hover{
    background-color: dimgrey;
}

.skracen{
    width: 60px;
}
.skracen li button{
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skracen li button img{
    padding: 10px;
}

@media screen and (max-width: 450px){
    .levi{
        display: block;
        position: fixed;
    }
}
@media screen and (min-width: 450px){
    .levi{
        display: block;
    }
}
@media screen and (orientation: landscape) and (min-width: 450px){
    .levi{
        display: block;
    }
}