@media screen and (min-width: 815px){
    .lupa{
        display: none;
    }
    .search{
        display: block;
    }
    
}
@media screen and (max-width: 815px){
    .search{
        display: none;
    }
    .close{
        position: fixed;
        right: 0;
        padding: 10px;
    }
    .search[type=text]:focus{
        width: 70%;
    }
    .right{
        margin-left: auto;
    }
    .left,.right{
        width: fit-content;
    }
    .video > div{
        height: fit-content;
    }
    .video .divslike{
        width: 100%;
    }
    .video .naziv{
        height: fit-content;
    }
}
@media screen and (max-width: 250px){
    .logo{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .levi{
        position: fixed;
        margin-left: 0px;
        z-index: 1;
    }
}
@media screen and (min-width: 450px){
    .levi{
        display: block;
    }
}