@media screen and (min-width: 815px){
    .video:hover{
        transform: scale(1.1);
        height: fit-content;
        background-color: black;
        overflow: hidden;
        z-index: 1000;
    }
    .video:hover > div{
        height: fit-content;
        z-index: 1000;
    }
    .video:hover .divslike{
        width: 100%;
        aspect-ratio: 16/9;
        height: fit-content;
        z-index: 1;
    }
    .video:hover .naziv{
        height: fit-content;
        text-align: left;
        overflow: hidden;
        display: block;
        z-index: 1;
    }
}
