@media screen and (min-width: 815px){
    .video:hover{
        /*transform: scale(1.1);*/
        border-radius: 10px;
        height: fit-content;
        background-color: black;
        overflow: hidden;
        z-index: 2;
    }
    .video:hover > div{
        height: fit-content;
        z-index: 2;
    }
    .video:hover .divslike{
        border-radius: 0;
        width: 100%;
        aspect-ratio: 16/9;
        height: fit-content;
        z-index: 2;
    }
    .video:hover .divslike img{
        border-radius: 10px;
    }
    .video:hover .naziv{
        height: fit-content;
        text-align: left;
        overflow: hidden;
        display: block;
        z-index: 2;
    }
}
