@font-face {
    font-family: 'Audiowide',sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Audiowide);
}
body{
    font-family: "Audiowide", sans-serif;
}
button{
    font-size: 1em;
}
html{
    scroll-behavior: smooth;
}
*{
    text-decoration: none;
}
.levi,.desni,.video,.search{
    transition: 0.5s ease-in-out;
    text-decoration: none;
    color: black;
}
:root{
    --visina:calc(100% - 80px);
}
li{
    list-style: none;
}
.container{
    display: flex;
    max-height: var(--visina)
}
.container .levi{
    padding:2px;
    overflow-y: auto;
    overflow-x: hidden;
}
.skracen{
    overflow-y: auto;
    overflow-x: hidden;
}
.produzen{
    padding:2px;
    width: 200px;
}
.section{
    height: fit-content;
}
.levi li img,.desni li img{
    width: 30px;
}

.produzen ul li img{
    margin-right: 10px;
}
.produzen ul li a,button{
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
}
.produzen ul li button{
   padding: 10px;
}
ul button{
    width: 100%;
}
ul li{
    margin-top: 2px;
    margin-bottom: 2px;
}
.levi .line{
    height: 2px;
    background-color: gray;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul button{
    background-color: white;
    border: none;
    
}
.levi ul button:hover, .sada{
    background-color: gray !important;
}

.skracen{
    width: 60px;
    border-radius: 10px;
}
.skracen li button{
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skracen li a button img{
    padding: 10px;
}
.options ul{
    width: fit-content;
}
.options li button{
    padding: 10px;
    background-color: black !important;
}
.options ul li img{
    margin-right: 10px;
}
.options{
    transition: 1s ease;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-right: -150px;
    margin-top: -30px;
    height: fit-content;
    width: fit-content;
}
.desni{
    padding:20px;
    width: 100%;
}