/*
.canvas button{
    border: 1px solid gray;
    padding:8px 16px;
    text-decoration:none;
    color:white;
    background-color:black;
    text-align:center;
    white-space:nowrap;
    width:50px;
    text-align:left;
    padding:8px 16px;
    height: 100%;
}
*/
.desni{
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20;
}
.desni .memes a{
    height: fit-content;
    width: fit-content;
}
.desni .memes img{
    width: 100%;
    border-radius: 20px;
}
.desni .memes{
    margin: auto;
    width: 80vw;
    columns: 4 12rem;
    gap: 1rem;
}