.app{
    height: 100%;
    width:fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.meme{
    height: calc(100% - 50px);
    border-radius: 20px;
}
.opis{
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.opis p{
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
.profile{
    width: 40px;
    height:40px;
    border-radius: 50%;
}