.desni{
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20;
}
.desni .memes a{
    height: fit-content;
    width: fit-content;
}
.desni .memes img{
    width: 100%;
    border-radius: 20px;
}
.desni .memes{
    margin: auto;
    columns: 4 10rem;
    gap: 1rem;
}