.app{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.meme{
    max-width: 100%;
    width: fit-content;
    border-radius: 20px;
    object-fit: contain;
    margin: auto;
}
.meme img{
    height: fit-content;
    width: 100%;
    border-radius: 20px;
}
.opis{
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.opis p{
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
.profile{
    width: 40px;
    height:40px;
    border-radius: 50%;
}