.desni{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20;
}
.desni .templates a{
    height: fit-content;
    width: fit-content;
}
.desni .templates img{
    width: 100%;
    border-radius: 20px;
}
.desni .templates{
    margin: auto;
    columns: 4 10rem;
    gap: 1rem;
}