
@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
    }
    p,h1,h2,h3,a,h1{
        color: white;
    }
    .lines div{
        background-color: white;
    }
    .levi button,.options button{
        background-color: black;
        color: white;
    }
    .search{
        border:2px solid gray;
        background-color: black;
        color: gray;
    }
    
    .lupa,.close,.levi img,.options img{
        filter: invert(100%);
    }
}
@media (prefers-color-scheme: light) {
    body{
        background-color: black;
    }
    p,h1,h2,h3,a,h1{
        color: white;
    }
    .lines div{
        background-color: white;
    }
    .levi button,.options button{
        background-color: black;
        color: white;
    }
    .search{
        border:2px solid gray;
        background-color: black;
        color: gray;
    }
    
    .lupa,.close,.levi img,.options img{
        filter: invert(100%);
    }
}