
@media (prefers-color-scheme: dark) {
    body{
        background-color: #0f0f0f;
    }
    p,h1,h2,h3,a,h1{
        color: white;
    }
    .lines div{
        background-color: white;
    }
    .levi button,.options button{
        background-color: #0f0f0f;
        color: white;
    }
    .search{
        border:1px solid gray;
        background-color: #0f0f0f;
        color: gray;
    }
    .lupa,.close,.levi img,.options img,.arrow{
        filter: invert(90%);
    }
    .sada img{
        filter: invert(20%)!important;
    }
}
@media (prefers-color-scheme: light) {
    body{
        background-color: white;
    }
    p,h1,h2,h3,a,h1{
        color: black;
    }
    .lines div{
        background-color: black;
    }
    .levi button,.options button{
        background-color: white;
        color: black;
    }
    .search{
        border:1px solid gray;
        background-color: white;
        color: gray;
    }
    .lupa,.close,.levi img,.options img,.arrow{
        filter: invert(20%);
    }
    .sada img{
        filter: invert(90%)!important;
    }
    
}