.desni{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    z-index: 0;
}
.container2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    overflow-y: auto;
    padding: 5px;
}
.container2 div{
    margin-left: auto;
    margin-right: auto;
}
.send{
    width: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.drop{
    width: 100%;
}
#dropzone{
    aspect-ratio: 16/9;
    max-width: 400px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#dropzone p{
    color: white;
}
#preview{
    max-width: 370px;
    z-index: 10;
    height: fit-content;
}
#spoj {
    position: relative;
    margin-bottom: 20px;
}
#spoj img{
    width: 100%;
    height: fit-content;
    position: relative;
    border: 1px solid white;

}
.close2{
    display: block;
    width: 100%;
    filter: invert(100%);
}
.btn{
    height: fit-content;
    border: 0px;
    background-color: transparent;
    z-index: 1;
    margin-right: 0;
    margin-left: auto;
    width: 20px;
    height: 20px;
}