.centar{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
.info,.edit{
    width: fit-content;
    display: flex;
    height: fit-content;
    align-items: center;
}
.info h1{
    height: fit-content;
    white-space: nowrap;
}
.edit{
    margin-left: auto;
    margin-right: 0;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.info{
    padding: 5px;
}
.info img{
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
.divslike img{
    display: block;
    /*position: absolute;*/
    width: 100%;
    border-radius: 20px;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.divslike{
    min-width: 100%;
    height: fit-content;
}
.divslike video{
    border-radius: 20px;
    width:100%;
    height: fit-content;
}
.divslike video,.divslike img{
    aspect-ratio: 16 / 9;
}
.video{
    transition: 0.3s ease-in-out;
    position:relative;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    z-index: 0;
    border-radius: 15px;

}
.video div{
    transition: 0.3s ease-in-out;
}
.desni{
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0px;
}
.videos{
    padding:20px 0 20px 0;
    width: 100%;
    height: fit-content;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-left: auto;
    margin-right: auto;
}
.opis{
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
    padding: 5px;
}
.naziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    z-index: 3;
}
.meni{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow-x: auto;
    background-color: black;
    border-radius: 20px;
}
.meni button{
    width: 200px;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.meni .vid{
    border-radius: 20px 0 0 20px;
}
.meni .mim{
    border-radius: 0px;
}
.meni .about{
    border-radius: 0 20px 20px 0;
}
.meni button:hover{
    background-color: gray;
}
.desni .memes a{
    height: fit-content;
    width: fit-content;
}
.desni .memes img{
    width: 100%;
    border-radius: 20px;
}
.desni .memes{
    margin: auto;
    width: 80vw;
    columns: 4 12rem;
    gap: 1rem;
}