.centar,.nacin,.info{
    height: 80px;
    display: flex;
    align-items: center;
}
:root{
    --videoduzina:300px;
}
.info img{
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}
.divslike{
    min-width: var(--videoduzina);
}
.divslike video{
    border-radius: 20px;
    width:100%;
    height: 100%;
}
.divslike video{
    aspect-ratio: 16 / 9;
}
.video{
    position:relative;
    width: var(--videoduzina);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    z-index: 0;
}
.videos{
    padding:20px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(var(--videoduzina),1fr));
}
.opis{
    display: flex;
    width: 100%;
    height: 60px;
}
.opis2{
    padding-top: 5px;
}
.naziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}