.centar,.nacin,.info{
    height: 80px;
    display: flex;
    align-items: center;
}
.info img{
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}
.nacin{
    margin-right: 0;
    margin-left: auto;
}
.nacin img{
    border-radius: 0%;
    height: 30%;
    filter: invert(100%);
    margin-right: 5px;
}