.divslike{
    width: 100%;
}
.divslike video{
    width:100%;
    height: 100%;
}
.video{
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    aspect-ratio: 16 / 9;
}
.video div{
    height: fit-content;
}
.desni{
    z-index: 0;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display:grid;
    grid-template-columns: auto 350px;
}
.kanal_logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    height: fit-content;
    padding: 5px;
    width: 100%;
    height: 60px;
}
.opis2 a{
    height: fit-content;
    display: flex;
    padding: 5px;
    margin-left: 10px;
    align-items: center;
}
.opis2 p{
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
.naziv{
    height: fit-content;
    text-align: left;
    padding-left: 10px;
}
.next{
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.nextdivslike{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nextdivslike img{
    display: block;
    /*position: absolute;*/
    width: 100%;
    border-radius: 20px;
    height: 100%;
    aspect-ratio: 16/9;
}
.nextdivslike video{
    border-radius: 20px;
    width:100%;
}
.nextlogo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.nextopis{
    padding: 5px;
    display: flex;
    width: 100%;
    height: 60px;
}
.nextopis2{
    margin-left: 10px;
}
.nextnaziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.nextvideo{
    position:relative;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    z-index: 0;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1280px){
    .desni{
        display: inline-block;
    }
    .next{
        width: 100%;
    }
    .nextvideo:hover{
        transform: scale(1.1);
        height: fit-content;
        background-color: black;
        overflow: hidden;
        z-index: 1;
    }
    .nextvideo:hover > div{
        height: fit-content;
        z-index: 1;
    }
    .nextvideo:hover .opis{
        height: fit-content;
        z-index: 1;
    }
    .nextvideo:hover .divslike{
        width: var(--videoduzina);
        aspect-ratio: 16/9;
        height: fit-content;
        z-index: 1;
    }
    .nextvideo:hover .naziv{
        height: fit-content;
        text-align: left;
        overflow: hidden;
        display: block;
        z-index: 1;
    }
}