*{
    text-decoration: none;
    color: black;
}
.divslike img{
    display: block;
    /*position: absolute;*/
    width: 100%;
    border-radius: 20px;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.divslike{
    width: 100%;
    height: fit-content;
}
.divslike video{
    border-radius: 20px;
    width:100%;
    height: 100%;
}
.divslike video, .divslike img{
    aspect-ratio: 16 / 9;
}
.video{
    transition: 0.3s ease-in-out;
    position:relative;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    z-index: 0;
    border-radius: 15px;
}
.video div{
    transition: 0.3s ease-in-out;
}
.desni{
    padding:20px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.kanal_logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    padding: 5px;
    display: flex;
    width: 100%;
    height: fit-content;
}
.opis2{
    margin-left: 10px;
    padding: 5px;
    height: fit-content;
}
.naziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}