.divslike{
    width: 100%;
    height: calc(100vh - 200px);
}
.divslike video{
    width:100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}
.video{
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.video .opis{
    height: fit-content;
}
.desni{
    z-index: 0;
    padding: 40px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: inline-block;

}
.kanal_logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    height: fit-content;
    padding: 5px;
    width: 100%;
    height: 60px;
}
.opis2 a{
    height: fit-content;
    width: fit-content;
    display: flex;
    padding: 5px;
    margin-left: 10px;
    align-items: center;
}
.opis2 p{
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
.naziv{
    height: fit-content;
    text-align: left;
    padding-left: 10px;
}
.next{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.nextdivslike{
    min-height: 0;
    min-width: 0;
    overflow: visible;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.nextdivslike img{
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    aspect-ratio: 16/9;
    transition: 0.3s ease-in-out;
}
.nextdivslike video{
    border-radius: 20px;
    width:100%;
    height: fit-content;
}
.nextlogo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.nextopis{
    padding: 5px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.nextopis2{
    margin-left: 10px;
    padding: 5px;
    height: fit-content;
}
.nextnaziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.nextvideo{
    transition: 0.3s ease-in-out;
    position:relative;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.nextvideo:hover{
    border-radius: 10px;
    height: fit-content;
    background-color: black;
    overflow: hidden;
    z-index: 2;
}
.nextvideo:hover > div{
    height: fit-content;
    z-index: 2;
}
.nextvideo:hover .opis{
    height: fit-content;
    z-index: 2;
}
.nextvideo:hover .divslike{
    width: 100%;
    aspect-ratio: 16/9;
    height: fit-content;
    z-index: 2;
}
.nextvideo:hover .nextdivslike img{
    border-radius: 10px;
}
.nextvideo:hover .nextnaziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: block;
    z-index: 2;
}
