.divslike{
    z-index: 10;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divslike video{
    border-radius: 20px 20px 20px 20px;
    max-height: 60vh;
    height: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.video{
    height: fit-content;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    display: grid;
    grid-template-columns: auto 350px;
}
.more_from_this{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.more_from_this .title{
    height: fit-content;
    width: fit-content;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
.videos_from{
    height: 100%;
    width: 100%;
}
.arrow{
    width: 20px;
    margin-left: 10px;
}

.desni{
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}
.kanal_logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    margin: 20px;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: gray;
}
.opis2{
    width: fit-content;
}
.opis2 a{
    height: fit-content;
    display: flex;
    padding: 5px;
    align-items: center;
    width: fit-content;

}
.opis2 p{
    height: fit-content;
    width: fit-content;
}
.naziv{
    width: fit-content;
    height: fit-content;
    text-align: left;
}
.next_section{
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
}
.next_section h1{
    margin: 10px;
}
.next{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.nextdivslike{
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.nextdivslike img{
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    aspect-ratio: 16/9;
    transition: 0.3s ease-in-out;
}
.nextdivslike video{
    border-radius: 20px;
    width:100%;
    height: fit-content;
}
.nextlogo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.nextopis{
    padding: 5px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.nextopis2{
    margin-left: 10px;
    padding: 5px;
    height: fit-content;
}
.nextnaziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.nextvideo{
    transition: 0.3s ease-in-out;
    position:relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}
@media screen and (max-width: 1279px){
    .more_from_this{
        display: none;
    }
    .video{
        grid-template-columns: auto;
    }
}
@media screen and (min-width: 815px){
    .nextvideo:hover{
        z-index: 100;
        transform: scale(1.03);
        border-radius: 10px;
        height: fit-content;
        overflow: hidden;
    }
    .nextvideo:hover > div{
        height: fit-content;
        z-index: 100;
    }
    .nextvideo:hover .opis{
        height: fit-content;
        z-index: 100;
    }
    .nextvideo:hover .divslike{
        width: 100%;
        aspect-ratio: 16/9;
        height: fit-content;
        z-index: 100;
    }
    .nextvideo:hover .nextdivslike img{
        border-radius: 10px;
    }
    .nextvideo:hover .nextnaziv{
        height: fit-content;
        text-align: left;
        overflow: hidden;
        display: block;
        z-index: 100;
    }
}