
@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
    }
    p,h1,h2,h3,a{
        color: white;
    }
    .lines div{
        background-color: white;
    }
    .levi button{
        background-color: black;
        color: white;
    }
    .search{
        border: solid gray;
        background-color: black;
        color: gray;
    }
    .levi .line{
        background-color: black;
    }
    .lupa,.close,.levi img{
        filter: invert(100%);
    }
}
@media (prefers-color-scheme: light) {
    body{
        background-color: white;
    }
    p,h1,h2,h3,a{
        color: black;
    }
    .lines div{
        background-color: black;
    }
    .levi button{
        background-color: white;
        color: black;
    }
    .search{
        border: solid black;
        background-color: white;
        color: black;
    }
    .levi img{

    }
    .levi .line{
        background-color: white;
    }
    
}