:root{
    --videoduzina:300px;
    --videovisina:300px;
}
*{
    text-decoration: none;
    color: black;
}
.divslike{
    border-radius: 15px;
    width: var(--videoduzina);
    height: calc(var(--videoduzina) * 9 / 16);
    
}
.divslike img,.divslike iframe,.divslike video{
    border-radius: 15px;
    width:100%;
    height: 100%;
}
.video{
    width: var(--videoduzina);
    height: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.naziv{
    text-align: center;
}
.desni{
    padding:20px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(var(--videoduzina),1fr));
}
.logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    padding: 5px;
    display: flex;
    width: var(--videoduzina);
    width: 100%;
    height: 60px;
}
.opis2{
    margin-left: 10px;
}
.naziv{
    
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: fit-content;
}
@media screen and (min-width: 815px){
    .video:hover{
        transform: scale(1.15);
    }
    .lupa{
        display: none;
    }
    .search{
        display: block;
    }
    
}

@media screen and (max-width: 816px){
    .video{
        width: 90%;
    }
    .divslike{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .search{
        display: none;
    }
    .search[type=text]:focus{
        width: 100%;
    }
    .right{
        margin-left: auto;
    }
    .left,.right{
        width: fit-content;
    }
}
@media screen and (max-width: 400px){
    .yt{
        display: none;
    }
    .divslike{
        max-width: 90%;
    }
}
