.divslike{
    width: 100%;
}
.divslike video{
    width:100%;
    height: 100%;
}
video{
    aspect-ratio: 16 / 9;
}
.video{
    max-width: 1280px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.desni{
    z-index: 0;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display:grid;
    grid-template-columns: auto 350px;
}
.logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.opis{
    padding: 5px;
    display: flex;
    width: 100%;
    height: 60px;
}
.opis2{
    margin-left: 10px;
}
.naziv{
    height: fit-content;
    text-align: left;
}
.next{
    width: 300px;
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.nextdivslike video, .nextdivslike img{
    border-radius: 15px;
    width:100%;
    height: 100%;
}
.nextlogo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:5px;
}
.nextdivslike img,.nextdivslike video{
    aspect-ratio: 16/9;
    width: 100%;
}
.nextopis{
    padding: 5px;
    display: flex;
    width: 100%;
    height: 60px;
}
.nextopis2{
    margin-left: 10px;
}
.nextnaziv{
    height: fit-content;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.nextvideo{
    width: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: fit-content;
}
@media screen and (max-width: 1600px){
    .desni{
        display: inline-block;
    }
    .next{
        width: fit-content;
        overflow-y: auto;
    }
    .nextvideo{
        max-width: 70%;
    }
}